.postsLayout {
    display: flex;
    flex-direction: row;

    * {
        font-family: var(--poppins-font);
    }

    .postsList {
        position: sticky;
        left: 0;
        height: auto;

        .postItem {
            cursor: pointer;
            display: flex;
            flex-direction: row;
            transition: linear 0.15s;

            &:hover {
                box-shadow: inset 0 0 10px #ffffff7e;
            }

            svg {
                height: 50 !important;
                width: auto;
            }
        }
    }
}
