.postsLayout {
    display: flex;
    flex-direction: row;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .postsList {
        position: sticky;
        left: 0;
        top: 0;
        height: auto;
        min-width: 300px;

        display: flex;
        flex-direction: column;

        .postItem {
            cursor: pointer;
            display: flex;
            flex-direction: row;
            gap: 10px;
            transition: linear 0.15s;

            padding: 10px;

            &:hover {
                box-shadow: 0 4px 2px -2px var(--color-text-primary);
            }

            svg {
                min-height: 60px;
                height: 60px;
                min-width: 60px;
                width: 60px;
            }
        }
    }
}
