.header {
    width: auto;
    height: auto;
    background-color: var(--color-bg-primary);
    // transition: 0.5s ease-in-out;
    z-index: 10;
    padding: 0 35px;
    position: sticky;
    top: 0;
}
