.container {
  .form {
    display: flex;
    gap: 15px;
    flex-direction: column;

    .actions {
      padding: 25px;
      display: flex;
      justify-content: space-between;
    }

    .images {
      display: flex;
      gap: 5px;
      padding: 5px 0;
      flex-direction: column;
    }

    .upload {
      .fileinput {
        width: 100%;
      }
      display: flex;
      flex-direction: row;
      gap: 5px;
      align-items: center;
    }
  }
}
