@import "../../../styles/breakpoints.scss";

// border-bottom: 1px solid rgb(47, 47, 47);
.div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.title {
    display: flex;
    flex-direction: row;
    align-items: center;

    svg {
        height: 30px;
        width: auto;
        padding-right: 10px;
    }
}
.nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
    // transition: 0.5s ease;

    z-index: 1;

    @include sm-max {
        top: -300px;
        position: absolute;
        flex-direction: column;
        align-items: center;
        left: 0;
        padding: 15px 0;
        width: 100vw;
        background-color: var(--color-bg-primary);
        box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);

        &.open {
            right: 0;

            @include md-max {
                top: 25px;
            }
        }
    }

    li {
        list-style-type: none;
        a {
            padding: 5px 10px;
            // transition: 150ms ease-in-out;
            border-bottom: 2px solid gray;
            border-radius: 5px 5px 0 0;
            text-decoration: none;
            &:hover {
                // transition: 500ms linear;
                background-position: bottom;
                background-color: rgba(0, 0, 0, 0.12);
            }
        }
    }
}

.mobile {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    background-color: var(--color-bg-primary);
    padding: 10px 35px;
    width: 100%;
    box-sizing: border-box;

    .menu {
        color: var(--color-text-primary);
    }
}
